* {

    box-sizing: border-box;

    padding: 0;

    margin: 0;

    font-family: Georgia, 'Times New Roman', Times, serif;

}

html,

body {

    width: 100%;

    height: 100%;

}

body {

    padding: 2rem;

}

button {

    padding: 0.2rem;

    font-size: medium;

}

section {

    padding: 2rem;

    font-size: 25px;

    color: #000;

}

#sec-1 {

    width: 70%;

    height: 40%;

    background: linear-gradient(
        rgb(14,161,195 ),

        #a36f6f,

        #9090c4,

        #9ad39a,

    );

}

#sec-2 {

    width: 70%;

    height: 40%;

    display: none;

    background: radial-gradient(

        rgb(16, 194, 16),

        hsl(240, 39%, 50%),

        rgb(120, 74, 196)

    );

}